<h1>Hello! <%= giftEmail %> </h1>
<h3><%= emailBuyer %> bought the course <%= name %> for you!</h3>
<h2>Please Go to https://front-scientia-pf.vercel.app/ and get it</h2>
<b>Use this code and exchange it for your gift:  </b>
<h2><%= gift.coupon %></h2>